/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

/*

::ng-deep .mat-select-disabled .mat-select-value {
  color: white;
}
*/

nav {
  margin: 27px auto 0;

  position: relative;
  width: 60%;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav a:hover {
  color: white;
  text-decoration: none;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 16.666666666%;
}
a:nth-child(2) {
  width: 16.666666666%;
}
a:nth-child(3) {
  width: 16.666666666%;
}
a:nth-child(4) {
  width: 16.666666666%;
}
a:nth-child(5) {
  width: 16.666666666%;
}
a:nth-child(6) {
  width: 16.666666666%;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 16.666666666%;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 16.666666666%;
  left: 16.666666666%;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 16.666666666%;
  left: 33.33333333%;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 16.666666666%;
  left: 49.99999999%;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 16.666666666%;
  left: 66.66666666%;
  background-color: #e67e22;
}
nav .start-contact, a:nth-child(6):hover~.animation {
  width: 16.666666666%;
  left: 83.333333333%;
  background-color: #33e235;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
  height: auto !important;
  min-height: 100%;
}

.footer {
  margin-top: 1rem;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
  text-align: center;
}

.btn-items {
  color: white;
  text-align: center;
  display: block;
}

.btn-item {
  margin-top: 0.5rem;
  color: white;
  font-size: 1.4em;
  background: #34495e;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.btn-item:hover {
  background: #1abc9c;
  color: white;
}

.mat-select-arrow {
  opacity: 0;
}

