{% extends 'layout.html' %}
{% block content %}
    <div class="container form-container">
        <h1 class="font-weight-bold">Shopping cart</h1>
        <ul class="list-orders list-shopping-cart">
            {% for i in lista %}
                <li>
                    <div class="row">
                        <div class="col">
                            <p>{{ i.item.instrument.name }} ({{ i.item.price }}$): x{{ i.quantity }}</p>
                        </div>
                        <div class="col">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input class="btn-href" type="submit" name="add" value="+1">
                                <input class="btn-href" type="submit" name="sub" value="-1">
                                <input class="btn-href" type="submit" name="del" value="remove">
                                <input type="hidden" name="id" value={{ i.id }}>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p>nr products: {{ nr_prods }}</p>
        <h3>total: {{ total }}</h3>

        <a style="width: 30%" class="href_button" href="/account/placeorder">Place order</a>
    </div>
{% endblock %}