<h2>Instruments:</h2>

<ul>
  <li *ngFor="let item of items">
    <a routerLink="/instruments/{{item.id}}">
      <p>name: {{item.instrument.name}}</p>
    </a>
    <p>category: {{item.instrument.category}}</p>
    <p>manufacturer name: {{item.instrument.manufacturer.name}}</p>
    <p>manufacturer country: {{item.instrument.manufacturer.country}}</p>
    <p> manufacturer logo: </p>
    <img src="{{item.instrument.manufacturer.logo}}">
    <p>description: {{item.instrument.description}}</p>
    <p>serial no.: {{item.instrument.nr_serie}}</p>
    <p>image:</p>
    <img src="{{item.instrument.image}}">
  </li>
</ul>
