@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
@import  "../snack-bar.css";
@import "../paginator.css";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';

.main {
  margin-top: 1rem;
}

.btn-items {
  color: white;
  text-align: center;
  display: block;
}

.btn-item {
  margin-top: 0.5rem;
  color: white;
  font-size: 1em;
  background: #34495e;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.btn-item:hover {
  background: #1abc9c;
  color: white;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
  box-sizing: border-box;
}

.card-instruments {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, 0.5s;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  text-decoration: none;
}

.card-instruments:hover {
  transform: rotate(0);
}

.card-instruments h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card-instruments p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card-instruments .tags {
  display: flex;
}

.card-instruments .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.btn-href {
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.btn-href:hover {
  background: #34495e;
  color: white;
}

.card-instruments:hover .tags .tag {
  background: #34495e;
  color: white;
}

.card-instruments .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card-instruments:before, .card-instruments:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}

.card-instruments:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card-instruments:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card-instruments:hover {
  color: white;
}

.card-instruments:hover:before, .card-instruments:hover:after {
  transform: scale(0.7);
  transition: 2s;
  background: none;
}

.card-grid-space .num {
  font-size: 1em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.form-inputs-instruments input {
  margin: 0;
  padding: 0;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
  }

  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }

  .card {
    max-width: calc(100vw - 4rem);
  }
}

.slider {
  margin-top: 1rem;
  text-align: center;
}

.search-options {
  margin-top: 4rem;
  background-color: #34495e;
  border-radius: 1rem;
}

