<section>
  <div class="container-fluid main" *ngIf="manufacturer || creating">
    <div style="width: 100%; height: 30%" class="row">
      <!--<div class="col-lg-2 col-md-3 col-sm-12">-->

      <div [ngClass]="{'col-lg-2 col-md-3 col-sm-12': !creating, 'container': creating}">
        <h1 class="font-weight-bold">{{ manufacturer.name }}</h1>


        <div *ngIf="editing || creating"> <!-- nome input -->
          <label>Name:</label>
          <mat-form-field style="width: 100%">
            <input type="text" [formControl]="nameFormControl" matInput [readonly]="!editing && !creating" [(ngModel)]="manufacturer.name">
            <mat-error *ngIf="nameFormControl.hasError('required')">This field can't be left blank.</mat-error>
            <button [hidden]="!editing && !creating" mat-button *ngIf="manufacturer.name" matSuffix mat-icon-button aria-label="Clear" (click)="manufacturer.name=''">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-2">
            <p style="top: 31%; left: 20%; position: absolute">Country:</p>
          </div>
          <div class="col-10">
            <mat-form-field>
              <mat-select [formControl]="countryFormControl" [disabled]="!editing && !creating" [(ngModel)]="manufacturer.country">
                <mat-optgroup  [label]="'Africa'" >
                  <mat-option *ngFor="let c of COUNTRIES['Africa']" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-optgroup>
                <mat-optgroup  [label]="'America'" >
                  <mat-option *ngFor="let c of COUNTRIES['America']" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-optgroup>
                <mat-optgroup  [label]="'Asia'" >
                  <mat-option *ngFor="let c of COUNTRIES['Asia']" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-optgroup>
                <mat-optgroup  [label]="'Europe'" >
                  <mat-option *ngFor="let c of COUNTRIES['Europe']" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-optgroup>
                <mat-optgroup  [label]="'Oceania'" >
                  <mat-option *ngFor="let c of COUNTRIES['Oceania']" [value]="c[0]">{{c[1]}}</mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error>Must not be left empty.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--<h5>Country: {{ manufacturer.country }}</h5>-->

        <div *ngIf="editing || creating"> <!-- imagem/logo input -->
          <label>Logo:</label>
          <mat-form-field style="width: 100%">
            <input type="text" [formControl]="imageFormControl" matInput [readonly]="!editing && !creating" [(ngModel)]="manufacturer.logo">
            <mat-error *ngIf="imageFormControl.hasError('required')">This field can't be left blank.</mat-error>
            <button [hidden]="!editing && !creating" mat-button *ngIf="manufacturer.logo" matSuffix mat-icon-button aria-label="Clear" (click)="manufacturer.logo=''">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div style='width:100%; height: 30%;' class="container-fluid">
          <img style="max-width: 60%; max-height: 60%" class="img-thumbnail" src="{{ manufacturer.logo }}">
        </div>
        <div style="text-align: center; justify-content: center" class="row" *ngIf="isAdmin()">
          <!-- TODO talvez colocar aqui o botao de edit tmb -->
          <button class="btn-item btn" *ngIf="!editing && !creating" (click)="edit()">Edit</button>
          <button class="btn-item btn" *ngIf="editing || creating" (click)="save()">Save</button>
          <button class="btn-item btn" *ngIf="editing || creating" (click)="cancel()">Cancel</button>
          <button class="btn-item btn" *ngIf="creating" (click)="reset()">Reset</button>

          <!--<button class="btn-item btn" *ngIf="!creating && !editing" (click)="delete(manufacturer.id)" >Delete</button>-->
          <button class="btn-item btn" (click)="confirmDelete(manufacturer.id)">Delete</button>
          <!--<p-confirmDialog [style]="{width: '50vw'}" key="bottom-left" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined" header="Are you sure?" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
          <p-confirmDialog rejectButtonStyleClass="p-button-outlined" [position]="'bottom-left'" rejectButtonStyleClass="p-button-outlined" header="Are you sure?" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        </div>
      </div>

      <div *ngIf="!creating" class="col-lg-10 col-md-9 col-sm-12">
        <app-items [manufacturer_id]="manufacturer.id"></app-items>
      </div>

    </div>
  </div>
</section>

