.orders-div {
  margin: 5rem;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 2rem;
  width: 50%;
  height: 80%;
  right: 0%;
  left: 0%;
  top: 20%;
  bottom: 0%;
  margin: auto;
  position: absolute;
}
.section-orders {
  padding-top: 1rem;
  width: 50%;
  margin: auto;
}

.section-orders h1 {
  font-size: 2rem;
  font-weight: 500;
}

.section-orders details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-orders details summary::-webkit-details-marker {
  display: none;
}

.section-orders details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

.section-orders details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

.section-orders details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

.section-orders detais summary {
  outline: 0;
}

.section-orders details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.list-orders {
  margin: 0;
  padding-left: 1.2rem;
}

.list-orders li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.list-orders li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
