<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
</head>
<body>
    <h3>{{ ac.name }}</h3>
    <p>email: {{ u.username }}</p>
    <p>nib: {{ ac.nib }}</p>
    <p>gender: {{ ac.get_gender_display }}</p>
    <p>contact: {{ ac.contact }}</p>
    <h4>address:</h4>
    <p>street: {{ ac.street }}</p>
    <p>door no.: {{ ac.door }}</p>
    <p>city: {{ ac.city }}</p>
    <p>code: {{ ac.code }}</p>

    <p>mostrar orders (TODO)</p>
    <p>adicionar manufacturer (So staff)</p>
    <p>adicionar instrumento (So staff)</p>

</body>
</html>