{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid form-container">
        <section class="section-orders">
            {% if orders|length == 0 %}
                <h3>There are no purchases yet</h3>
                <a class="btn-href" href="/">Go to homepage</a>
            {% else %}
                <h1>Orders</h1>
                {% for o in orders %}
                    <details>
                        <summary>Order {{ forloop.counter }}: ({{ o.payment_time }})</summary>
                        <ul class="list-orders">
                            <li>Order identifier: {{ o.id }}</li>
                            <li>Client: {{ o.person.user }}</li>
                            <li>Cellphone: {{ o.person.contact }}</li>
                            <li>Delivery address: {{ o.delivery_address }}</li>
                            <li>Payment method: {{ o.payment_method }}</li>
                            <li>Order status: {{ o.order_status }}</li>
                        </ul>
                        <p>Product(s): </p>
                        {% for e in o.list.items.all %}
                            <div class="row">
                                <div class="col"><p>{{ e.item.instrument.name }}</p></div>
                                <div class="col"><p>{{ e.item.price }}$ x {{ e.quantity }}</p></div>
                            </div>
                        {% endfor %}
                    </details>
                    </details>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}