{% extends 'layout.html' %}
<!--box-account      field-account -->
{% block content %}
    <div style="text-align: center; color: white; justify-content: center" class="container">
        <h1>Create account</h1>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class=" row">
                    {{ field.errors }}
                    <div class="col-2">
                        <span>{{ field.label_tag }}</span>
                    </div>
                    <div style="width: 100%" class="col-10 create_acc_input">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div style="text-align: center; margin-top: 0.3rem; justify-content: center" class="row">
                <input class="btn-account" type="submit" value="create!">
            </div>
    </form>
    </div>
{% endblock %}