{% extends 'layout.html' %}
{% load group_tag %}
{% block content %}
    {% if loggedin and admin %}
        <a class="btn btn-primary">Clica aqui para listar todas as orders</a>
        <div class="home">
            <div class="home-container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h3>See all manufacturers</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>See all the manufacturers associated with us.</p>
                            <a href="{% url 'see_manufacturers' %}">Go to page</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h3>Add Manufacturer</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Add a new manufacturer to the database.</p>
                            <a href="{% url 'add_manufacturer' %}">Go to page</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h3>See available instruments</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Check all the products available for sale.</p>
                            <a href="{% url 'see_instruments' %}">Go to page</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h3>Add instrument</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Add a new instrument of a associated manufacturer.</p>
                            <a href="{% url 'add_instrument' %}">Go to page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'instruments4include.html' %}
    {% endif %}
{% endblock %}