<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instrument: {{ m.instrument_name }}</title>
</head>
<body>
    <h2>{{ m.instrument_name }}</h2>
    <h4>category: {{ m.category }}</h4>
    <h4>manufacturer: {{ m.manufacturer_id.name }}</h4>
    <h4>description: {{ m.description }}</h4>
    <h4>image: <img src="{{ m.image }}"></h4>

    <form action="edit/{{ m.id }}" method="get" >
        <input type="submit" value="Edit (staff only)">
    </form>

    <input type="submit" value="Purchase (TODO)">
    <input type="submit" value="Delete(staff only) (TODO)">

</body>
</html>