{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div style="left:50%; width: 100%; margin-top: 5%; color: white;">
        <h1>Login</h1>
            {% include 'form.html' with submit_val='Log in!' %}
            <a style="color: white; float: left; margin-top: 0.3rem" href="{% url 'create_account' %}">Create new account</a>
        </div>
    </div>

{% endblock %}

<!-- <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div style="border: 2px solid #087e8b;" class="field_wrapper">
                    {{ form.username.errors }}
                    <i class="far fa-user"></i>
                    {{ form.username }}
                </div>
                <div style="border: 2px solid #087e8b;" class="field_wrapper">
                    {{ form.password.errors }}
                    <i class="fas fa-key"></i>
                    {{ form.password }}
                </div>
                <input class="btn-login" type="submit" value="Log in!" />
                <a style="color: white; float: left; margin-top: 0.3rem" href="{% url 'create_account' %}">Create new account</a>
            </form> -->