{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid container-instruments">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12">
                <h1 class="font-weight-bold">{{ manu.name }}</h1>
                <h5>Country: {{ manu.country }}</h5>
                <div style='width:300px; height: 300px;'>
                    <img style="max-width: 60%; max-height: 60%" class="img-thumbnail" src="{{ manu.logo }}">
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12">
                <section class="cards-wrapper">
                    {% if prods|length == 0 %}
                        <h5 style="text-align: center">No products associated, yet.</h5>
                    {% else %}
                    {% for p in prods.values %}
                        <div class="card-grid-space">
                            <div class="num">{{ p.0.name }}</div>
                            <a class="card-instruments" href="{% url 'instruments_details' p.0.id %}"
                               style="--bg-img: url({{ p.0.image }})">
                                <div>
                                    <h1>{{ p.1.price }}$</h1>
                                    <p>Category: {{ p.0.category }}</p>
                                    <p>Description : {{ p.0.description }}</p>

                                    <div class="tags">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-inputs-instruments">
                                                <input type="hidden" name="id" value="{{ p.0.id }}">
                                                <input class="tag" type="submit" name="purchase" value="Buy">
                                                {% if p.2 %}  <!--se já estiver lá-->
                                                    <input class="tag" type="submit" name="rem_wishlist"
                                                           value="Remove from wishlist">
                                                {% else %}
                                                    <input class="tag" type="submit" name="add_wishlist"
                                                           value="Add to wishlist">
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% endif %}
                </section>
            </div>
        </div>
    </div>

{% endblock %}