main {
    margin-top: 1rem;
    margin-bottom: 20ch;
}

body {
    background: url("../images/pexels-photo-132197.jpeg")
}

.font_size {
    font-size: 100%;
}

.login_box {
    width: 100%;
    margin-top: 5%;
    margin-left: 33%;
    color: white;
}

.login_box h1{
    float: left;
    width: 20%;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid #087e8b;
    padding: 1rem 0;
}

.field_wrapper {
    width: 100%;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 8px 0;
    margin: 8px 0;
}

.field_wrapper i{
    width: 2rem;
    float: left;
    margin-top: 0.5rem;
    text-align: center;
}

.field_wrapper input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 15rem;
    float: left;
    margin: 10px;
}

.btn-login {
    width: 100%;
    color: white;
    background: none;
    border: 2px solid #087e8b;
    transition: 3s;
}

.btn-login:hover {
    background-color: #087e8b;
}

.box-account {
    width: 100%;
    margin-top: 3%;
    margin-left: 35%;
    color: white;
}

.box-account h1{
    margin-bottom: 2%;
}

.field-account {
    width: 30%;
    border: 2px solid #087e8b;
    margin: 0.1rem;
}

.field-account input{
    width: 100%;
    background: none;
    border: 0;
    color: white;
}

.field-account select{
    background-color: #087e8b;
    opacity: 0.7;
    border: 0;
    color: white;
}

.btn-account {
    width: 29.7%;
    float: left;
    text-align: center;
    align-content: center;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    border: 2px solid #087e8b;
    transition: 3s;
}

.btn-account:hover {
    background-color: #087e8b;
}