<div class="container main">
  <section class="cards-wrapper">
    <!--<button (click)="openSnackBar()">open snack-bar</button> (so pra testes)-->

    <div class="card-grid-space" *ngFor="let manufacturer of activePageDataChunk">
      <a class="card-instruments" routerLink="/manufacturers/{{manufacturer.id}}"
         style="--bg-img: url({{ manufacturer.logo }})">
        <div>
          <h1>{{ manufacturer.name }}</h1>
          <p>Country : {{ manufacturer.country }}</p>
        </div>
      </a>
    </div>


  </section>

  <div class="container">
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChanged($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
