<div *ngIf="!creating_account">

    <div *ngIf="userService.token">
      <div style="margin-top: 3rem; text-align: center" class="container">
        You are logged in as {{userService.username}}.<br />
        Token expires: {{userService.tokenExpires}}.<br />
        <button (click)="refreshToken()">Refresh Token here</button>
        <button (click)="redirectHome()">Go to home page</button>
        <button (click)="logout()">Log Out</button>

        <h2>{{isTokenExpired()}}</h2>
      </div>
    </div>
</div>

<section class="forms-section" *ngIf="!userService.token">
  <div class="forms">
    <div [ngClass]="{'is-active': boolLogin}" class="form-wrapper">
      <button type="button" (click)="switch()" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
      <div class="form form-login">
        <fieldset>
          <legend>Please, enter your email and password for login.</legend>
          <div class="input-block">
            <label for="login-email">E-mail</label>
            <input id="login-email" type="email" [(ngModel)]="user.username" required>
            <span *ngFor="let error of userService.errors.username">
              {{ error }}
            </span> <!-- TODO alterar este erro -->
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input id="login-password" type="password" [(ngModel)]="user.password" required>
            <span *ngFor="let error of userService.errors.password">
              {{ error }}
            </span> <!-- TODO alterar isto tmb -->
          </div>
        </fieldset>
        <button type="submit" class="btn-login" (click)="login()">Login</button>
        <span *ngFor="let error of userService.errors.non_field_errors">
          {{ error }}
        </span> <!-- TODO mais um -->
      </div>
    </div>
    <div [ngClass]="{'is-active': boolCreate}" class="form-wrapper">
      <button type="button" (click)="switch()" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
      <div class="form form-signup">
        <fieldset>
          <legend>Please, enter your email, password and password confirmation for sign up.</legend>
          <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" type="email" [(ngModel)]="user.username" required>
            <span *ngFor="let error of errors['username']"> {{error}} </span> <!-- TODO -->
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" type="password" [(ngModel)]="user.password" required>
            <span *ngFor="let error of errors['password']"> {{error}} </span> <!-- TODO -->
          </div>
          <div class="input-block">
            <label for="signup-name">Name</label>
            <input id="signup-name" type="text" [(ngModel)]="account.name">
            <span *ngFor="let error of errors['name']"> {{error}} </span> <!-- TODO -->
          </div>
          <div class="input-block">
            <label for="signup-gender">Gender</label>
            <select id="signup-gender" [(ngModel)]="account.gender" >
              <option value="" disabled selected hidden>Select one option</option>
              <option value="F">Female</option>
              <option value="M">Male</option>
              <option value="O">Other / Rather not say</option>
            </select>
          </div>
          <div class="input-block">
            <label for="signup-contact">Contact</label>
            <input id="signup-contact" type="text" [(ngModel)]="account.contact">
            <span *ngFor="let error of errors['contact']"> {{error}} </span> <!-- TODO -->
          </div>
        </fieldset>
        <button (click)="save_new_account()" type="submit" class="btn-signup">Sign up</button>
      </div>
    </div>
  </div>
</section>
